* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.contianer {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
}
.heading {
  width: 100%;
  height: 100%;
  background-image: url(./img/hero-sectiong/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar {
  position: relative;
  width: 100%;
  height: 100px;
}
.navbar ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
}
.navbar .dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .dropdown-content a {
  /*float: none;
  */
  color: black;
  padding: 15px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: #ffca00;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar .logo {
  padding-left: 7rem;
  padding-right: 7rem;
}
.navbar.stick {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.192);
}

/* start content */
.content {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 15%;
}
.img-row {
  display: flex;
  align-items: center;
}
.img-row > img {
  padding: 10px;
  height: 150px;
  width: 123px;
  margin-left: -12px;
}
.main-content {
  width: 500px;
  padding-top: 25px;
}
.main-content h1 {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 1.5;
  font-family: "Lora", serif;
  font-weight: 100;
  color: #fff;
}
.main-content h1 > span {
  color: #ffca00;
}
.btn-section {
  padding-top: 25px;
}
.btn-1 {
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
  border: 1.5px solid #fff;
  font-weight: lighter;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.btn-1:hover {
  background-color: #fff;
  color: #333;
}
.btn-2 {
  margin-left: 30px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: lighter;
  cursor: pointer;
}
/* popular section */
.popular-section {
  width: 100%;
  height: 600px;
  background-color: #24272e;
  position: relative;
}
.row-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  padding: 20px;
}
.popular-section-img {
  max-width: 500px;
  margin-top: 15%;
}
.popular-section-img img {
  width: 350px;
  height: 350px;
}
.popular-content {
  max-width: 500px;
  margin-left: 40px;
}
.popular-content h3 {
  font-size: 36px;
  line-height: 1.5;
  color: #ffca00;
}
.popular-content p {
  padding-top: 20px;
  line-height: 1.5;
  font-size: 20px;
  color: #ffffffaf;
  font-weight: lighter;
  font-family: "Lora", serif;
}
.popular-content p::first-letter {
  font-size: 40px;
  padding: 20px;
  margin-right: 10px;
  color: #ffca00;
  font-family: "Parisienne", cursive;
}
.btn-3 {
  padding-top: 40px;
}
.btn-3 .btn {
  width: 150px;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.btn-3 .btn:hover {
  color: #f9f9f9;
}

/* book section */
.book-section {
  width: 100%;
  position: absolute;
  background-image: url(./img/book/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  background-image: linear-gradient(to top, #0808084f, #040506bf);
  height: 100%;
}
.book-heading {
  padding-top: 60px;
  padding-left: 20px;
}
.book-heading h3 {
  font-size: 36px;
  color: #fff;
  font-family: "Lora", serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* book-section-img */
.book-box-1 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}
.book-1 {
  width: 300px;
  height: 450px;
  background: url(./img/book/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-2 {
  width: 300px;
  height: 450px;
  background: url(./img/book/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-3 {
  width: 300px;
  height: 450px;
  background: url(./img/book/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-4 {
  width: 300px;
  height: 450px;
  background: url(./img/book/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-5 {
  width: 300px;
  height: 450px;
  background: url(./img/book/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-6 {
  width: 300px;
  height: 450px;
  background: url(./img/book/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}
.book-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transform: translateZ(20px);
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
}
.book-title h3 {
  font-size: 40px;
  display: block;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.book-title span {
  font-size: 20px;
  color: #fff;
  line-height: 2.5;
  font-weight: 400;
}

.quck-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.view {
  width: 130px;
  height: 40px;
  background-color: #ffff;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  outline: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.view a {
  text-decoration: none;
  line-height: 1.3;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}
.view i {
  padding-right: 16px;
  width: 2px;
  height: 2px;
}
.book-title:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.book-1,
.book-2,
.book-3,
.book-4,
.book-5,
.book-6:hover {
  box-shadow: -19px 0px 163px 23px rgba(0, 0, 0, 0.75);
}
.btn-all-book {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-all {
  width: 180px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lore", serif;
  background-color: #fff;
  cursor: pointer;
}
.input-section {
  width: 100%;
  height: 50%;
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.116);
}
.input-title {
  padding-bottom: 26px;
  text-align: center;
}
